.container-about {
    width: var(--main-Width);
    margin: 0 auto;
    height: 35rem;
    background-color: var(--secondary-Color);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin-top: 3rem;
    flex-direction: column;
    transition: .3s;
}

.container-about:hover {
    transform: scale(1.009, 1.009)
}

.container-about h2 {
    font-size: 3rem;
    margin: 0;
}

.container-about .about-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-about .about-box i {
    font-size: 20rem;
    color: var(--main-Color);
}

.container-about .about-box .desc-box p {
    width: 80%;
    text-align: justify;
    font-size: 2rem;
}

.container-about .about-box .desc-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-about .socialmedia-box {
    width: 30%;
    background-color: var(--bg-Color);
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    border-radius: 20px;
}

.container-about .socialmedia-box i {
    color: white;
    font-size: 5rem;
    transition: .3s;
}

.container-about .socialmedia-box i:hover {
    transform: scale(1.05, 1.05);
}

@media only screen and (max-width: 1000px) {
    .container-about {
        width: var(--phone-Width);
        margin: 0 auto;
        height: 100rem;
        background-color: var(--secondary-Color);
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 3rem;
        margin-top: 3rem;
        flex-direction: column;
        transition: .3s;
    }

    .container-about .about-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .container-about .about-box i {
        font-size: 8rem;
        color: var(--main-Color);
    }

    .container-about .about-box p {
        width: 100%;
        text-align: justify;
        font-size: 1.5rem;
    }

    .container-about .socialmedia-box {
        width: 80%;
        background-color: var(--bg-Color);
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        border-radius: 20px;
    }

    .container-about .socialmedia-box i {
        color: white;
        font-size: 4rem;
        transition: .3s;
    }

    .container-about .about-box .desc-box p {
        width: 100%;
        text-align: justify;
        font-size: 2rem;
    }
}
