@import url('https://fonts.googleapis.com/css?family=Rethink+Sans&display=swap');


* {
    --main-Color: rgba(53, 152, 244, 1);
    --secondary-Color: #333333;
    --bg-Color: #1e1e1e;
    --main-Width: 90%;
    --phone-Width: 70%;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {
    background-color: var(--bg-Color);
    font-family: 'Rethink Sans';
    color: white;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}


